@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
:root {
    --fontetitulo: 'Ms Madi', cursive;
    --fontepadrao: 'Quicksand', sans-serif;
    --subtitulos: 'Julius Sans One', sans-serif;;
} 

body{
   margin: 0;
}
header div{
    text-align: center;
    padding: 40px;
    font-size: 30px;
    text-decoration: none;
    font-family: var(--subtitulos);
    color: black;
}

header div a{
    font-size: 50px;
    text-decoration: none;
    font-family: var(--subtitulos);
    color: black;
}

main div p{
    font-size: 20px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding:30px 100px 100px 200px
}
.fundo{
    padding: 60px;
    font-family: var(--fontepadrao);
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.20);
}
main div{
    background-color: rgb(231, 235, 235);
    display: inline-block;
    padding: 60px;
}
main{
    border-radius: 20px;
    padding:30px 100px 100px 200px
}